@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --bg-clr: #394168;
  --white: #fff;
  --title-clr: #394168;
  --pry-text-clr: #b3b3b3;
  --scn-text-clr: #838384;
  --btn-hvr-clr: #5363b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

body{
  background: var(--bg-clr);
  font-size: 12px;
  line-height: 20px;
  color: var(--primary-text-clr);
  padding: 0 20px;
}

.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tc_main{
  margin: 20px 0;
  width: 500px;
  max-width: 100%;
  height: 550px;
  background: var(--white);
  text-align: center;
  border-radius: 3px;
}

.tc_main .title{
  color: var(--title-clr);
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.tc_main .tc_content .tc_bottom .title{
  font-size: 18px;
  line-height: 26px;
}

.tc_main .tc_content{
  width: 100%;
  margin: 35px 0;
  height: calc(550px - 150px);
}

.tc_main .tc_btns{
  width: 100%;
  height: 80px;
  padding: 21px 0;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

.tc_main .tc_content .tc_top{
  margin: 0 35px 35px;
}

.tc_main .tc_content .tc_bottom{
  padding: 0 35px;
  overflow: auto;
  height: calc(100% - 210px);
}

.tc_main .tc_content .tc_top .icon{
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-clr);
}

.tc_main .tc_content .tc_top .info{
  color: var(--scn-text-clr);
}

.tc_main .tc_content .tc_bottom .info p{
  font-style: italic;
  margin-bottom: 10px;
}

.tc_main .tc_btns button{
  width: 125px;
  padding: 10px;
  margin: 0 10px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.tc_main .tc_btns button.accept{
  background: var(--title-clr);
  color: var(--white);
}

.tc_main .tc_btns button.decline{
  border: 1px solid var(--title-clr);
  background: transparent;
  color: var(--title-clr);
}

.tc_main .tc_btns button.decline:hover{
  background: var(--title-clr);
  color: var(--white);
}

.tc_main .tc_btns button.accept:hover{
  background: var(--btn-hvr-clr);
}

